{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="btn-group">
        <button class="btn btn-sm btn-success">{{ button_label|default('save') }}</button>
        <a class="btn btn-sm btn-default" href="{{ path('incident_index') }}">cancel</a>
    </div>
{{ form_end(form) }}
