{% extends 'base.html.twig' %}

{% block title %}Incident {{parent()}}{% endblock %}

{% block body %}
    <h1>Incident</h1>

    <table class="table table-sm table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ incident.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ incident.date ? incident.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Incidenttype</th>
                <td>{{ incident.incidenttype }}</td>
            </tr>
            <tr>
                <th>Location</th>
                <td>{{ incident.location }}</td>
            </tr>
            <tr>
                <th>Complainant</th>
                <td>{{ incident.complainant ? incident.complainant|join(', ') : '' }}</td>
            </tr>
            <tr>
                <th>Defendant</th>
                <td>{{ incident.defendant ? incident.defendant|join(', ') : '' }}</td>
            </tr>
            <tr>
                <th>Statement</th>
                <td>{{ incident.statement }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('incident_index') }}">back to list</a>

    <a href="{{ path('incident_edit', {'id': incident.id}) }}">edit</a>

    {{ include('incident/_delete_form.html.twig') }}
{% endblock %}
